* {
    box-sizing: border-box;
}
body {
    background-color: dimgray;
    width: 100%;
    margin: auto;
    text-align: center;
    font-family: monospace;
}

h3 {
    font-family: 'Geostar';
    font-size: 44px;
}

a {
    color: chartreuse;
}

.button {
    background-color: papayawhip;
    border: 2px solid saddlebrown;
    border-radius: 3px;
    color: tomato;
    padding: 3px;
    user-select: none;
}

.button:hover {
    border-color: chartreuse;
    cursor: pointer;
}

.button:active {
    border-color: dodgerblue;
}

#rebecca_purple {
    background-color: rebeccapurple;
    position: fixed;
    bottom: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
}

/* Video Table */

th {
    color: dodgerblue;
    font-size: 20px;
}

table {
    border: 4px ridge saddlebrown;
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 20px;
}

table td,th {
    padding: 5px 10px 5px 10px;
    border: 1px solid saddlebrown;
}

/* Video Player */
div#player_container {
    display: inline-block;
}

.log {
    border: 1px solid saddlebrown;
    margin: auto;
    margin-top: 10px;
    max-width: 80%;
    overflow: auto;
    padding: 3px 3px 3px 3px;;
    color: chartreuse;
}

.log h4:hover {
    cursor: pointer;
}

.log pre {
    text-align: left;
}

#subtitles {
    display: none;
}

#caption_box {
    height: 130px;
    max-height: 130px;
    padding: 20px 140px 20px 140px
}

#caption_box input {
    margin-right: -100px;
    float: right;
}

/* Subtitles */
.subtitle {
    text-aligh: right;
}
.ssa-an1 {
    margin-top: 66px;
    float: left;
}

.ssa-an2 {
    margin-top: 66px;
}

.ssa-an3 {
    margin-top: 66px;
    float: right;
}

.ssa-an4 {
    margin-top: 33px;
    float: left;
}

.ssa-an5 {
    margin-top: 33px;
}

.ssa-an6 {
    margin-top: 33px;
    float: right;
}

.ssa-an7 {
    float: left;
}

.ssa-an8 {

}

.ssa-an9 {
    float: right;
}

/* Guide */